<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to drchrono</title>
</head>
<body>
    <form action="check_in" method="GET"> {% csrf_token %}
    	Patient ID:<br>
    	<input type="text" name="patient_id" value="84091094"><br><br>
    	Appointment ID:<br>
    	<input type="text" name="apt_id" value="131628596"><br><br>
    	<input type="submit" name="goback" value="Go Back">
    	<input type="submit" name="next" value="Next">
    </form>

    <br><br>

    <form action="/manage_patient/" method="POST"> {% csrf_token %}
    	<input type="submit" value="refresh patient database">
    </form>

    <form action="/manage_doctor/" method="POST"> {% csrf_token %}
    	<input type="submit" value="refresh doctor database">
    </form>

    <form action="/manage_appointment/" method="POST"> {% csrf_token %}
    	<input type="submit" value="refresh appointment database">
    </form>
</body>
</html>
