<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to drchrono</title>
</head>
<body>
	Please update your information, then click on "next" or click on "submit"<br><br>
    <form action="confirm_information" method="GET"> {% csrf_token %}
    	<input type="text" name="patient_id" value={{patient.patient_id}} style="display:none;">
    	<input type="text" name="apt_id" value={{apt.apt_id}} style="display:none;">
    	First Name:
    	<input type="text" name="firstname" value={{patient.first_name}}><br>
    	Last Name:
    	<input type="text" name="lastname" value={{patient.last_name}}><br><br>
    	Date of Birth:
    	<input type="text" name="date_of_birth" value={{patient.date_of_birth|date:'Y-m-d'}}><br>
    	Gender:
    	<input type="text" name="gender" value={{patient.gender}}><br>
    	Address:
    	<input type="text" name="address" value={{patient.address}}><br>
    	City:
    	<input type="text" name="city" value={{patient.city}}><br>
    	State:
    	<input type="text" name="state" value={{patient.state}}><br>
    	Social Security Number:
    	<input type="text" name="ssn" value={{patient.ssn}}><br>
    	Cell Phone:
    	<input type="tel" name="cell_phone" value={{patient.cell_phone}}><br>
    	Email:
    	<input type="text" name="email" value={{patient.email}}><br><br>

    	<input type="button" name="goback" value="Go Back">
    	<input type="button" name="submit" value="Submit">
    </form>
</body>
</html>