# Get your tokens from the drchrono.com website under Account->API

SOCIAL_AUTH_CLIENT_ID=nZiEmHQcRK3ksZ2r8FS9Dz5lLND6VlJB8JiN7zSl
SOCIAL_AUTH_SECRET=86tfDDN0JI70WUSNNsjqcdiHTU2MlqXGsDxmsq4CtHhzCGHkBE9tsxGAVeO8GKoWxrgiTHdGWrbUpxc5peU2wTc5HmuIKJmKYKGkoNwe0Ibg48x64SoHGrOW2mKOawuu
